{% extends "base.html" %} {% block title %}Diabetes Predictor{% endblock %} {%
block content %}

<div class="h-screen flex flex-col justify-center items-center">
  <div class="text-center text-black">
    <p class="text-lg mb-8 px-4 md:px-12">{{ error_message }}</p>

    <div class="mt-6">
      <a
        href="/#contact"
        class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg max-w-max"
      >
        GO Home
      </a>
    </div>
  </div>
</div>

{% endblock %}
